{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur mon projet !</h1>

    Ce projet a été créer lors de mon stage en 2021.
    Le projet a pour but de gérer des utilisateurs
    <ul>
        <li>Vous pouvez accéder à la liste des utilisateurs : <code><a href="{{ path('user_index') }}" >Liste</a></code></li>
    </ul>

</div>
{% endblock %}
