{% extends 'base.html.twig' %}

{% block title %}Modifier Utilisateur{% endblock %}



{% block body %}
    <div class="page-title">
        <div class="title_left">
            <h3>Modifier l'Utilisateur</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Détails de l'Utilisateur </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ include('user/_form.html.twig', {'form_path': path(form_path, {'id': user.id}), 'button_label': 'Modifier'}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


